<nav class="navbar  navbar-expand-lg navbar-light bg-warning">
    <div class="container-fluid">
        <a class="navbar-brand " >/\</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/card">CARDS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list">LIST</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/table">TABLE</a>
                </li>
            </ul>
                <div class="d-grid d-flex justify-content-lg-end">
                    <a href="/logout">Logout</a>
                </div>  
        </div>
    </div>
</nav>
<div class="w-100">
    <img class="w-100 h-100vh" src="https://www.digitalvidya.com/wp-content/uploads/2019/03/Homepage-Design.jpg" alt="">
</div>